{% load staticfiles %}

<div class="alert alert-warning">
    <h1>DEBUG INFO</h1>
    <p>
        Command: "{{ instance.command }}"
    </p>
    <p>
        RAW Data:{{ status }}
        <ul>{% for k,v in status.items %}
            <li>{{ k }}: {{ v }}</li>
        {% endfor %}</ul>
    </p>
</div>
