{% load staticfiles %}

{#<div class="alert alert-warning">#}
{#    <h1>DEBUG INFO</h1>#}
{#    <p>#}
{#        RAW:{{ status }}#}
{#        <ul>{% for k,v in status.items %}#}
{#            <li>{{ k }}: {{ v }}</li>#}
{#        {% endfor %}</ul>#}
{#    </p>#}
{#</div>#}

<div class="minecraft_server_status well">
    {% if status %}
        <div class="mcserver_up">
            <dl>
            <dt>Players online ({{ status.numplayers }}/{{ status.maxplayers }})</dt>
            {% if status.numplayers > 0 %}
                <dd>
                    <ul>{% for p in status.players %}
                        <li>{{ p }}</li>
                    {% endfor %}</ul>
                </dd>
            {% else %}
                <dd>None at this time</dd>
            {% endif %}
            </dl>
        </div>
    {% else %}
        <div class="mcserver_down">
            <img src="{% static "djangocms_minecraft/img/server_down_icon.png" %}" alt="Server is Down" style="float:right">
            <p style="float:left;position: relative; color: red;font-size: 12px;margin-bottom: 0;">{{ instance.name }} is down</p>
        </div>
    {% endif %}
    <div class="clearfix"></div>
</div>
