<div class="minecraft_server_query">
    {% if status.plugins %}
        <dl>
            <dt>Loaded Plugins</dt><dd>
                <ul>{% for p in status.plugins %}
                    <li>{{ p }}</li>
                {% endfor %}</ul>
            </dd>
        </dl>
    {% else %}
        <div>{{ instance.mchost.name }} is not available</div>
    {% endif %}
</div>
