{% load staticfiles %}

{#<div class="alert alert-warning">#}
{#    <h1>DEBUG INFO</h1>#}
{#    <p>#}
{#        RAW:{{ status }}#}
{#        <ul>{% for k,v in status.items %}#}
{#            <li>{{ k }}: {{ v }}</li>#}
{#        {% endfor %}</ul>#}
{#    </p>#}
{#</div>#}

<div class="minecraft_server_status">
    {% if status %}
        <div class="mcserver_up">
            <img src="{% static "djangocms_minecraft/img/server_up_icon.png" %}" alt="Server is UP" style="float:right;position: relative; padding-left: 5px;">
            <p style="float:left;position: relative; color: green;font-size: 12px;margin-bottom: 0;">
                {{ instance.mchost.name }}: Up<br />
                Players: {{ status.numplayers }}/{{ status.maxplayers }}
            </p>
        </div>
    {% else %}
        <div class="mcserver_down">
            <img src="{% static "djangocms_minecraft/img/server_down_icon.png" %}" alt="Server is Down" style="float:right">
            <p style="float:left;position: relative; color: red;font-size: 12px;margin-bottom: 0;">{{ instance.mchost.name }} is down</p>
        </div>
    {% endif %}
    <div class="clearfix"></div>
</div>
